<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ "/assets/site.webmanifest" | prepend: site.baseurl }}">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
      	<div class="rightHeader">
        <h1><a href="{{ "/" | absolute_url }}">Dr. Bernhard Bermeitinger</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | markdownify }}</p>
        </div>
        <div class="leftHeader">
          <ul class="fa-ul">
            <li>
              <span class="fa-li"><i class="fa-solid fa-fw fa-arrow-right"></i></span>
              <a href="#publications">Publications</a>
            </li>
            <li>
              <span class="fa-li"><i class="fa-solid fa-fw fa-arrow-right"></i></span>
              <a href="#presentations">Presentations</a>
            </li>
            <li>
              <span class="fa-li"><i class="fa-solid fa-fw fa-arrow-right"></i></span>
              <a href="#pcs">Committees</a>
            </li>
            <li>
              <span class="fa-li"><i class="fa-solid fa-fw fa-arrow-right"></i></span>
              <a href="#teaching">Teaching</a>
            </li>
          </ul>
        </div>
        <p>
        {% include contact.md %}
        </p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src='{{ "/assets/js/scale.fix.js" | relative_url }}'></script>
  </body>
</html>
